<!DOCTYPE html>
<html>
<head>
  <title>Giro de Procesos - Recursos de TI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
  <script src="../assets/libs/jquery-1.11.3.min.js"></script>
  <script src="../assets/libs/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
  <script src="../assets/js/app.js"></script>
</head>
<body ng-app="giroApp">
OK
<div class="container">
    <div ui-view></div>
</div>
</body>
</html>