<span class="col-xs-12" align="center"><h4>Selecciona el
		marco de tu bicicleta</h4></span>

<div class="form-group">
	<table>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label><input type="radio" ng-model="formData.marco"
						value="De Hierro"> <img
						src="../assets/img/marcoHierro.jpg" height="128" alt="">Hierro
					</label>
				</div>
			</td>
			<td class="col-xs-6">Tecnolog&iacute;as m&aacute;s pesadas, pero
				que pueden desempe&ntilde;arse muy bien en esos caminos irregulares
				y que requieren alto procesamiento.
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.marco"
						value="De Aluminio"> <img
						src="../assets/img/marcoAluminio.jpg" height="128" alt="">
						Aluminio
					</label>
				</div>
			</td>
			<td class="col-xs-6">En algunas situaciones la accesibilidad y
				la flexibilidad, son determinantes para llegar al objetivo. En estos
				casos las aplicaciones web podr&iacute;an ser una muy buena
				opci&oacute;n.</td>
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.marco"
						value="Plegable"> <img
						src="../assets/img/marcoPlegable.jpg" height="128" alt="">
						Plegable
					</label>
			</td>
			<td class="col-xs-6">Cuando la accesibilidad es casi imposible y
				la portabilidad para llegar al punto de inter&eacute;s en la
				competencia toman relevancia, podemos estar ante un escenario en
				donde soluciones m&oacute;viles y sin dependencias a conexiones
				ser&iacute;an la alternativa ideal.</td>
			</div>
			</td>
		</tr>
	</table>
</div>
<div class="form-group row">
	<div class="col-xs-3">
		<a ui-sref="form.step0" class="btn btn-block btn-info"> <span
			class="glyphicon glyphicon-chevron-left"></span> Anterior
		</a>
	</div>
	<div class="col-xs-3 col-xs-offset-6">
		<a ui-sref="form.step2" class="btn btn-block btn-info"> Siguiente
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>