<div class="text-center">
	<h5>Por favor diligencia tus datos, para que recibas el resultado del ejercicio en tu correo electr&oacute;nico.</h5>
	<div class="form-group">
		<label for="name">Nombre</label> <input type="text"
			class="form-control" name="name"
			ng-model="formData.nombreParticipante">
	</div>

	<div class="form-group">
		<label for="email">Proceso</label> <select name="proceso"
			class="form-control" ng-model="formData.proceso">
			<option value="Ninguno">-- Seleccione uno --</option>
			<option value="Asistencia - Dise&ntilde;o de servicios asistenciales">Asistencia
				- Dise&ntilde;o de servicios asistenciales</option>
			<option value="Asistencia - Dise&ntilde;o de servicios profesionales">Asistencia
				- Dise&ntilde;o de servicios profesionales</option>
			<option
				value="Asistencia - Dise&ntilde;o y desarrollo de modelos de atenci&oacute;n">Asistencia
				- Dise&ntilde;o y desarrollo de modelos de atenci&oacute;n</option>
			<option value="Asistencia - Evaluaci&oacute;n del Servicio">Asistencia
				- Evaluaci&oacute;n del Servicio</option>
			<option value="Asistencia - Gesti&oacute;n de Casos">Asistencia
				- Gesti&oacute;n de Casos</option>
			<option value="Asistencia - Gesti&oacute;n de Pagos">Asistencia
				- Gesti&oacute;n de Pagos</option>
			<option value="Asistencia - Gesti&oacute;n Integral de Prestadores">Asistencia
				- Gesti&oacute;n Integral de Prestadores</option>
			<option value="Asistencia - Modelos de contacto">Asistencia
				- Modelos de contacto</option>
			<option value="Asistencia - Modelos de operaci&oacute;n">Asistencia
				- Modelos de operaci&oacute;n</option>
			<option value="Asistencia - Planeaci&oacute;n de modelos">Asistencia
				- Planeaci&oacute;n de modelos</option>
			<option value="Asistencia - Prestaci&oacute;n del Servicio">Asistencia
				- Prestaci&oacute;n del Servicio</option>
			<option value="BIEN Humano - Salud Integral">BIEN Humano -
				Salud Integral</option>
			<option value="Consultor&iacute;a - Auditor&iacute;a del Proceso">Consultor&iacute;a
				- Auditor&iacute;a del Proceso</option>
			<option value="Consultor&iacute;a - Prestaci&oacute;n del Servicio">Consultor&iacute;a
				- Prestaci&oacute;n del Servicio</option>
			<option value="Consultor&iacute;a - Venta de Soluciones">Consultor&iacute;a
				- Venta de Soluciones</option>
			<option value="Impuestos - Activos">Impuestos - Activos</option>
			<option value="Log&iacute;stica - Movilidad">Log&iacute;stica
				- Movilidad</option>
			<option
				value="Planeaci&oacute;n Financiera - Adm&oacute;n de Sistemas de Informaci&oacute;n Financiera">Planeaci&oacute;n
				Financiera - Adm&oacute;n de Sistemas de Informaci&oacute;n
				Financiera</option>
			<option
				value="Planeaci&oacute;n Financiera - Dise&ntilde;o de Opciones Estrat&eacute;gicas">Planeaci&oacute;n
				Financiera - Dise&ntilde;o de Opciones Estrat&eacute;gicas</option>
			<option
				value="Planeaci&oacute;n Financiera - Evaluaci&oacute;n Financiera">Planeaci&oacute;n
				Financiera - Evaluaci&oacute;n Financiera</option>
			<option
				value="Planeaci&oacute;n Financiera - Gesti&oacute;n de Costos">Planeaci&oacute;n
				Financiera - Gesti&oacute;n de Costos</option>
			<option
				value="Planeaci&oacute;n Financiera - Gesti&oacute;n de Presupuesto">Planeaci&oacute;n
				Financiera - Gesti&oacute;n de Presupuesto</option>
			<option
				value="Planeaci&oacute;n Financiera - Proyecciones Financieras">Planeaci&oacute;n
				Financiera - Proyecciones Financieras</option>
			<option value="Salud - Facturaci&oacute;n">Salud -
				Facturaci&oacute;n</option>
			<option value="Salud - Implementaci&oacute;n de la red">Salud
				- Implementaci&oacute;n de la red</option>
		</select>
	</div>

	<div class="form-group">
		<label for="email">E-mail</label> <input type="text"
			class="form-control" name="email" ng-model="formData.email">
	</div>

</div>

<div class="form-group row">
	<div class="col-xs-6 col-xs-offset-3">
		<a ui-sref="form.step1" class="btn btn-block btn-info"> Siguiente
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>