<span class="col-xs-12" align="center"><h4>Selecciona el
		manillar y sill&iacute;n</h4></span>

<div class="form-group">
	<table>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label><input type="radio" ng-model="formData.manillar"
						value="B&aacute;sico"> <img
						src="../assets/img/manillarYSillinBasico.jpg" height="128" alt="">B&aacute;sico
					</label>
				</div>
			</td>
			<td class="col-xs-6">Disminuye los roces que puedan generar
				irritaciones y ofrecen un mayor control de manejo. Representa el
				concepto de usabilidad que se debe tener en cuenta para mejorar el
				rendimiento (eficacia, eficiencia y facilidad de aprendizaje) del
				usuario en la interacci&oacute;n con las aplicaciones.</td>
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.manillar"
						value="Intermedio"> <img
						src="../assets/img/manillarYSillinIntermedio.jpg" height="128"
						alt=""> Intermedio
					</label>
				</div>
			</td>
			<td class="col-xs-6">Ofrece mayor comodidad pero puede ocasionar
				menor velocidad por la posici&oacute;n mas erguida que debe tener el
				ciclista. Representa las aplicaciones que requieren mayor riqueza en
				la usabilidad, para que haya mejor utilidad y mayor diversi&oacute;n en su
				uso.</td>
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.manillar"
						value="Avanzado"> <img
						src="../assets/img/manillarYSillinAvanzado.jpg" height="128"
						alt=""> Avanzado
					</label>
				</div>
			</td>
			<td class="col-xs-6">Tienen mejor dise&ntilde;o para aumentar el flujo
				de aire, brindar m&aacute;s confort y
				tr&aacute;nsitar mas libremente. Cuando las aplicaciones van dirigidas a clientes externos a los que
				queremos cautivar y atraer, se requiere aplicar
				t&eacute;cnicas de Dise&ntilde;o Centrado en el Usuario, en las que
				adem&aacute;s de la usabilidad e interacci&oacute;n, se tienen cuenta factores
				como las emociones, sentimientos, transmisi&oacute;n de marca, para
				conseguir la m&aacute;xima experiencia y satisfacci&oacute;n del usuario.</td>
		</tr>
	</table>
</div>


<div class="form-group row">
	<div class="col-xs-3">
		<a ui-sref="form.step3" class="btn btn-block btn-info"> <span
			class="glyphicon glyphicon-chevron-left"></span> Anterior
		</a>
	</div>
	<div class="col-xs-3 col-xs-offset-6">
		<a ui-sref="form.step5" class="btn btn-block btn-info"> Siguiente
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>