<span class="col-xs-12" align="center"><h4>Selecciona el tipo de llantas</h4></span>
<div class="form-group">
	<table>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label><input type="radio" ng-model="formData.llantas"
						value="De Monta&ntilde;a"> <img src="../assets/img/llantasMontania.jpg"
						height="128" alt="">Monta&ntilde;a </label>
				</div>
			</td>
			<td class="col-xs-6">Para terrenos destapados y con posibles obst&aacute;culos en el camino, podr&iacute;amos usar infraestructura propia para tener m&aacute;s control y evitar derrapar.
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.llantas"
						value="De Ruta"> <img
						src="../assets/img/llantasRuta.jpg" height="128" alt="">
						Ruta
					</label>
				</div>
			</td>
			<td class="col-xs-6">En caminos m&aacute;s constantes donde la velocidad se vuelve un factor determinante y queremos unos costos operativos m&aacute;s &oacute;ptimos, infraestructuras en la nube nos podr&iacute;an ayudar mucho para llegar a la meta.</td>
		</tr>
	</table>
</div>


<div class="form-group row">
	<div class="col-xs-3">
		<a ui-sref="form.step1" class="btn btn-block btn-info"> <span
			class="glyphicon glyphicon-chevron-left"></span> Anterior
		</a>
	</div>
	<div class="col-xs-3 col-xs-offset-6">
		<a ui-sref="form.step3" class="btn btn-block btn-info"> Siguiente
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>