<div class="text-center">
	<h4>{{formData.nombreParticipante}}, gracias por participar!</h4>
	<h5>Esta es la bicicleta que armaste para tu carrera. Esperamos que hayas disfrutado el ejercicio.</h5>
	<div class="col-xs-12 text-center">
		<table border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td>&nbsp;</td>
				<td>Manillar y sill&iacute;n {{formData.manillar}}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="4" rowspan="4"><img
					src="../assets/img/bycicle.jpg" height="200" /></td>
			</tr>
			<tr>
				<td>Marco {{formData.marco}}</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>Llantas {{formData.llantas}}</td>
			</tr>
			<tr>
				<td>{{formData.cambios}}</td>
				<td>Pedales {{formData.pedales}}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan="5"><img src="../assets/img/kit.png" height="100" />
					<img src="../assets/img/helmet.png" height="100" /></td>
			</tr>
			<tr>
				<td colspan="5">{{formData.kitRuta}} - {{formData.casco}}</td>
			</tr>
		</table>
	</div>
<button type="submit" class="btn btn-danger" ng-disabled="{{doDisable}}">Enviar resultado</button>
</div>
