<span class="col-xs-12" align="center"><h4>Selecciona el kit
		de ruta (GPS)</h4></span>

<div class="form-group">
	<table>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label><input type="radio" ng-model="formData.kitRuta"
						value="Cuenta kil&oacute;metros"> <img
						src="../assets/img/gpsBasico.jpg" height="128" alt="">Cuenta
						kil&oacute;metros</label>
				</div>
			</td>
			<td class="col-xs-6">Para las necesidades de an&aacute;lisis b&aacute;sico,
				este kit nos permite conocer datos de lo sucedido (kil&oacute;metros
				recorridos). Hace referencia a sistemas anal&iacute;ticos tradicionales, en
				los que se muestra el pasado, para tomar decisiones a futuro.
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.kitRuta"
						value="GPS b&aacute;sico"> <img
						src="../assets/img/gpsIntermedio.jpg" height="128" alt="">
						GPS b&aacute;sico
					</label>
				</div>
			</td>
			<td class="col-xs-6">Kit con localizaci&oacute;n, que permite
				monitorear el desempe&ntilde;o en tiempo real; nos permite adaptarnos con
				velocidad a los cambios de condiciones. Hace referencia a modelos
				anal&iacute;ticos en tiempo real.</td>
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.kitRuta"
						value="GPS con mapa y proyecci&oacute;n"> <img
						src="../assets/img/gpsAvanzado.jpg" height="128" alt=""> GPS
						con mapa y proyecci&oacute;n
					</label>
				</div>
			</td>
			<td class="col-xs-6">Al tener un mapa del recorrido, y ubicaci&oacute;n
				en tiempo real, permite realizar predicciones de lo que va a
				suceder. Hace referencia a la anal&iacute;tica predictiva, que permite
				correlacionar variables y predecir situaciones.</td>
		</tr>
	</table>
</div>


<div class="form-group row">
	<div class="col-xs-3">
		<a ui-sref="form.step6" class="btn btn-block btn-info"> <span
			class="glyphicon glyphicon-chevron-left"></span> Anterior
		</a>
	</div>
	<div class="col-xs-3 col-xs-offset-6">
		<a ui-sref="form.step8" class="btn btn-block btn-info"> Siguiente
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>