<span class="col-xs-12" align="center"><h4>Selecciona el
		sistema de pedales</h4></span>

<div class="form-group">
	<table>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label><input type="radio" ng-model="formData.pedales"
						value="Est&aacute;ndar"> <img
						src="../assets/img/pedalesEstandar.jpg" height="128" alt="">Est&aacute;ndar</label>
				</div>
			</td>
			<td class="col-xs-6">Los tradicionales pedales de la bicicleta,
				que requieren del esfuerzo continuo de alguien que impulse la
				bicicleta para llegar a la meta; representa aplicaciones
				transaccionales est&aacute;ndar, que requieren siempre de un usuario que
				ejecute el proceso.</td>
		</tr>
		<tr>
			<td class="col-xs-6">
				<div class="radio">
					<label> <input type="radio" ng-model="formData.pedales"
						value="El&eacute;ctricos"> <img
						src="../assets/img/motorPedales.jpg" height="128" alt="">
						El&eacute;ctricos
					</label>
				</div>
			</td>
			<td class="col-xs-6">Estos pedales, al igual que los anteriores,
				requieren del esfuerzo de alguien; pero en ciertos terrenos y
				condiciones, aumentan la eficiencia de la bicicleta. Representan
				procesos con pasos automatizados que no requieren de intervenci&oacute;n
				humana.</td>
		</tr>
	</table>
</div>


<div class="form-group row">
	<div class="col-xs-3">
		<a ui-sref="form.step4" class="btn btn-block btn-info"> <span
			class="glyphicon glyphicon-chevron-left"></span> Anterior
		</a>
	</div>
	<div class="col-xs-3 col-xs-offset-6">
		<a ui-sref="form.step6" class="btn btn-block btn-info"> Siguiente
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>